/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities classes */
.flex {
    display: flex;
}

.center {
    text-align: center;
}

/* Team Card */
.team {
    justify-content: center;
    gap: 10px;
}

.teamCard {
    background-color: darkblue;
    color: white;
}

.infoName {
    font-size: 20px;
}

.infoEmail {
    color: skyblue;
}